# Template Tags

snippet compress
{% compress ${1:css/js} %}
  ${2}
{% endcompress %}
endsnippet

snippet todo
{# TODO: ${1:todo} #}
endsnippet

snippet optimize
{# OPTIMIZE: ${1:optimize} #}
endsnippet

snippet fixme
{# FIXME: ${1:fixme} #}
endsnippet

snippet note
{# NOTE: ${1:note} #}
endsnippet

snippet blocktrans
{% blocktrans ${1}%}${2}{% endblocktrans %}
endsnippet

snippet with
{% with ${1}=${2} %}
${3}
{% endwith %}
endsnippet
