snippet li "list item with placeholder"
<li>${1}</li>
endsnippet

snippet h2
<h2>${1}</h2>
endsnippet

snippet h3
<h3>${1}</h3>
endsnippet

snippet help "Add helptips"
<i class="helptip_handler${1: helptip_${2:tl/bl/br}}" data-msg="${3}">
${4}</i>
endsnippet

snippet dl "Definition list"
<dl>
	<dt>${1:Term}</dt>
	<dd>
    ${2:Description}
  </dd>
</dl>
endsnippet

snippet dt "Definition Item"
<dt>${1:Term}</dt>
<dd>
  ${2:Description}
</dd>
endsnippet
